body {
  margin: 0;
  background-color: #fafafa;
}

/* ------------header------------- */

header {
  position: relative;
  z-index: 10;
  display: flex;
}

#nav {
  margin-top: 20px;
}

h1 {
  position: relative;
}

h1 {
  font-size: 40px;
  margin-left: 250px;

  color: white;
  margin-top: 100px;
  font-family: "Futura";
}

h1 p {
  font-size: 16px;
  color: white;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
}

#try {
  padding-top: 17px;
  padding-bottom: 17px;
  padding-right: 60px;
  padding-left: 60px;
  color: white;
  background-color: #eb8994;
  border-radius: 5px;
  border: none;
  /* transition: 1s; */
}

#try:hover {
  color: rgb(0, 0, 0);
  background-color: white;
}

#logo {
  width: 40px;
  margin-top: 10px;
  margin-left: 237px;
  margin-right: 25px;
}

/* -----------nav------------- */

#nav nav a {
  margin-top: 20px;
  margin-right: 40px;
  margin-left: 0;
  margin: 0px 14px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 18px;
}

#header nav a:hover {
  color: rgb(255, 255, 255);
  text-decoration: underline;
}

/* --------------Vidéo + esthetic--------------- */

#video {
  position: absolute;
  width: 100vw;
  height: 65%;
  top: 0;
  left: 0;
  object-fit: cover;
  user-select: none;
}

.gradient {
  position: absolute;
  left: 0;
  width: 100%;
  height: 70%;
  background: linear-gradient(#00000081, #000000);
  /* // background: linear-gradient(#e90e0e00, #fa0404);// */
}

/* -------------Text-actu--------------- */

div h2 {
  display: flex;
  justify-content: center;
}

#news {
  display: flex;
  justify-content: center;
  color: white;
  position: relative;
  font-family: "Futura";
  /* background-color: #000; */
}

#news h2 {
  font-weight: 500;
  font-size: 32px;
  margin-bottom: 100px;
}

/* ------------Actu----------------- */

.container {
  display: flex;
  align-items: center;
  /* border: 1px solid red;  */
  margin: auto;
  max-width: 1073px;
}

.container img,
.container div {
  width: 50%;
}

.pink {
  border-radius: 5px;
}

.white {
  color: white;
  text-align: center;
  font-size: 24px;
  justify-content: center;
  align-items: center;
  margin: 0;
}

h6 {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 16px;
  margin: 0;
}

.btn-classes {
  background-color: #ffffff;
  color: #000;
  display: flex;
  border-radius: 5px;
  height: 45px;
  margin: auto;
  max-width: 175px;
  max-height: 45px;
  margin-top: 20px;
  margin-left: 175px;
  align-items: center;
  justify-content: center;
  transition: 1s;
}

.btn-classes:hover {
  transform: scale(1.2);
  border: 1px solid white;
}

div h1 button:hover {
  transform: scale(1.2);
  transition: 1s;
}

#best {
  font-family: "Futura";
  font-weight: 500;
  font-size: 32px;
  margin-top: 100px;
}

.container .btn-classes:hover {
  background-color: #000;
  color: white;
}

.container h2,
h6 {
  font-family: "Futura";
  font-weight: 500;
}

.container div a {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

/* -------------Waves-------------- */

#wave {
  margin: 0;
  background-image: url(/vibz-assets/black_pink_split_background.png);
  background-size: 102% 102%;
  z-index: -1;
}

/* #wave-pink {
  background-image: url(/vibz-assets/wave-pink.png);
  background-position: left;
}

.wave-blue {
  background-image: url(/vibz-assets/wave-blue.png);
  background-position: left;
  position: absolute;
} */

.wave-pink {
  background-image: url(/vibz-assets/wave-pink.png);
  position: absolute;
  z-index: -99;
  width: 100%;
  height: 100%;
  bottom: 430px;
}

.wave-blue {
  position: relative;
  z-index: -98;
  bottom: 426px;
  visibility: hidden;
}

/* ----------------Grille----------------- */

.grid {
  display: grid;
  gap: 40px;
  grid-template-areas:
    "a b c"
    "d e f"
    "g h i";

  justify-content: center;
  justify-items: center;
  align-items: center;

  z-index: 1;
  position: relative;
  bottom: 1400px;
}

.grid p {
  text-align: center;
  font-family: "Nunito Sans", sans-serif;
}

.grid img {
  border-radius: 125px;
}

.photo-1 {
  grid-area: a;
  visibility: hidden;
}

.photo-2 {
  grid-area: b;
  visibility: hidden;
}

.photo-3 {
  grid-area: c;
  visibility: hidden;
}

.photo-4 {
  grid-area: d;
  visibility: hidden;
}

.photo-5 {
  grid-area: e;
  visibility: hidden;
}

.photo-6 {
  grid-area: f;
  visibility: hidden;
}

.photo-7 {
  grid-area: g;
  visibility: hidden;
}

.photo-8 {
  grid-area: h;
  visibility: hidden;
}

.photo-9 {
  grid-area: i;
  visibility: hidden;
}

/* --------------Aide au GSAP---------------- */

.container,
#animation-2 {
  overflow: hidden;
}

#animation-2 {
  background-color: #edb1b600;
  padding-top: 0px;
  padding-bottom: 0px;
  margin: 0;
  margin-top: 0px;
  display: flex;
  justify-content: center;
}

#motionPath {
  z-index: 99;
  position: absolute;
  left: 200px;
  top: 40px;
  visibility: hidden;
}

#music {
  position: absolute;
  z-index: 99;
  max-width: 7%;
  border-radius: 0;
  left: 60px;
}

.test {
  position: relative;
}
